body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.navbar-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navbar-nav .nav-item {
    margin-left: 15px;
}

.navbar-nav .nav-link {
    color: yellow !important;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: white !important;
    transform: scale(1.1);
}


.about-image {
    object-fit: cover;
    height: auto;
    max-height: 400px;
    width: 100%;
    animation: fadeIn 1.5s ease-in-out;
}

.about-title {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
}

.about-text {
    font-size: 1.1rem;
    color: #555;
    margin-top: 20px;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    margin-top: -10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: yellow;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

footer a:hover {
    color: white;
    transform: scale(1.1);
    text-decoration: underline;
}

footer .footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer .footer-links a {
    padding: 10px;
}
